package {{package}};

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import lombok.AllArgsConstructor;

import {{servicePackage}}.{{className}}Service;

@RestController
@RequestMapping("/api/v1")
@AllArgsConstructor
public class {{className}}Controller {
    private final {{className}}Service {{classNameLower}}Service;

}
